@import 'variables';

footer {
    width: 100%;
    position: relative;

    iframe {
        width: 100%;
        height: 600px;
        position: absolute;
    }
        
    .footer-intro{
        width: 20%;
        height: auto;

        display: inline;
        float: left;
        position: absolute;

        margin: 10px 0px 0px 10px;

        background-color: #fff;

        padding: 10px 0px 70px 50px;
        
        i {
            width: 100px;
            padding-top: 18px;
            color: #aace4e;
        }
        h3 {
            display: inline-block;
            color: #2c3272;
        }

        h2 {
            font-size: 27px;
        }

        button {
            width: 300px;
            height: 50px;
            border-radius: 250px;
            background-color: #54a1d7;

            font-size: 23px;
            letter-spacing: 0px;
            line-height: 43px;
            color: #ffffff;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
        }

    }
    .footer-copyright{
        width: 100%;
        height: 80px;

        position: absolute;
        display: inline-flex;
        text-align: center;

        background-color: #e0e0e0;

        margin-top: 500px;
        font-size: 27px;
        i {
            padding: 30px 30px;
        }

    }
}