@import 'variables';

.banner{

    min-width: 30%;
    min-height: 600px;

    background-color: $banner_color;
    background-image: url(../image/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    ul {
        list-style-type: none !important;
    }

    input, select {
        width: 400px;   
        height: 50px;
        margin: 5px;

            option{
                font-size: 18px;
            }
    }

    button {
        width: 250px;
        height: 60px;
        font-size: 20px;
        color: #fff;
        border-radius: 250px;
        text-align: center;
        background-color: #54a1d7;

    }

    .row{
        padding: 0px 150px 0px 150px;

        .div-content{
            padding-top: 70px;
            float: left;
            width: auto;
            height: auto;
            text-align: left;

            font-size: $size-text;

            .content {
                font-size: 24px;

            }
        }

        .form-contact{
            float: left;
            width: 30%;
            min-height: 600px;
            float: right;
            text-align: center  ;
            background-color: #fbfaf1;
            padding: 0px 38px 0px 36px;

            div {
                p{
                    font-size: $size-text;
                }
            }

            .linear-gradient{
                background: linear-gradient(left, #2c3272, #aace4e);

            }
        }
    }
}

.post{
    background-color: #fff;
    display: flex;

    width: 100%;
    // height: 400px;
    
    padding-bottom: 50px;

    .post-desc{
        width: 66%;
        height: auto;
        float: left;
        .post-title{
            padding: 50px 50px 10px 180px;
            font-size: 40px;
            color: $text-color;
        }
        .post-content{
            padding-left: 180px;
            font-size:  28px;
        }
    }
    .doc-img{
        width: 492px;
        height: 429px;
        float: left;
    }
}

.senior{

    width: 100%;
    height: auto;
    text-align: center;

    padding-top: 100px;    

    h2 {
        font-size: 40px;
        color: $text-color;
    }
    p {
        font-size: 27px;
    }     
}

.service{
    display: flex;
    padding: 0px 0px 80px 180px;

    .service-item{
        float:  left;
        font-size: 27px;

        width: 20%;
        height: auto;
        margin: 20px;

        i {
            color: #aace4e; 
            background-color: #fff;
            text-align: center;
            padding-left: 80px;
        }


    }
}

.contact{
    display: inline-flex;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #5da7d7;

    .contact-title{
        width: 66%;
        font-size: 40px;
        color: #fff;
        margin: 10px;
    }

    .btn-contact{
        width: 400px;
        height: 80px;
        border-radius: 40px;
        border: 0px;
        filter: drop-shadow(0px 4px 4.5px rgba(0,0,0,0.22));
        background-color: #faa41c;

        font-size: 28px;
        letter-spacing: 1px;
        line-height: 52px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;

        margin: auto;
        margin-left: 0px;
    }
}

.floor-concest{
    width: 100%;
    height: auto;

    background: linear-gradient(#fff, #fdf1e7 );

    display: block;

    .floor-intro{
        text-align: center;

        h2 {
            font-size: 40px;
            letter-spacing: 1px;
            line-height: 57px;
            color: #736559;
            font-weight: 700;
            font-family: "Lora";
            text-align: center;
        } 
        
        p {
            font-size: 27px;
        }
    }

    .floor-list{
        width: 70%;
        padding: auto;
        margin: auto;
        text-align: center;

        .floor-item{
            display: inline;
            
            border: 1px;
            border-radius: 10px;
            background-color: #ffffff;
            border: 1px solid #525252;
            
            padding: 60px 0px 50px 0px;
            margin: 20px;
            
            img {
                width: 218px;
                height: 231px;
                padding: auto;
                margin: auto;
            }

            h2 {

                font-size: 27px;
                letter-spacing: 1px;
                line-height: 34px;
                color: #272727;
                font-weight: 700;
                font-family: "Montserrat";
            }

            p {
                font-size: 23px;
                letter-spacing: 0px;
                line-height: 34px;
                color: #272727;
                font-weight: 400;
                font-family: "Montserrat";
            }

            .btn-floor-enlarge{
                width: 263px;
                height: 51px;
                font-size: 27px;
                border-radius: 25px;
                background-color: #54a1d7;
                font-family: "Montserrat";
                color: #fff;
            }
        }


    }

    .link-floor{

        font-size: 23px;
        letter-spacing: 0px;
        line-height: 43px;
        color: #2c3272;
        font-weight: 700;
        font-family: "Montserrat";
        text-align: center;
    }
}